{% extends "pages/abstract/dashboard.html.twig" %}


{% block page_title %}{{company.company_name}}{% endblock %}

{% block body_matter %}
<div class="container">
  <div class="row ">
    <div class="col"></div>
     <div class="jumbotron col-4 rounded bg-info" style="background-image: url({{company.logo}}); background-repeat: no-repeat; background-size: auto; background-position: right center; margin-right: 50px;">
        <h1 class="display-4 mx-3">{{company.company_name}}</h1>
        <p class="lead">Feel free to contact this company on their mail adress -> <span class="text-primary">{{company.email}}</span></p>
        
        <p>You can also have more information about them on their website. </p>
        <p class="lead">
          <a class="btn btn-primary btn-lg" href="{{company.website}}" role="button">Visit website</a>
        </p>
    </div>
    <div class="col-4"></div>
  </div>
</div>

{% endblock %}