{% extends 'pages/abstract/dashboard.html.twig' %}

{% block page_title %}Employees{% endblock %}
{% block page_description %}This page provides a list of employees{% endblock %}

{% block body_matter %}
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-header">
                    <img src={{company.logo}} alt="logo" width="70" height="70">
                     <h3 class="box-title"><i class="fa fa-cutlery fa-fw"></i> List of Employees</h3>
                    <div class="text-right">
                        <a href="" class="btn btn-success btn-rounded" data-toggle="modal" data-target="#modalLoginForm">
                            <i class="fas fa-plus-square"> Add Employee</i>
                        </a>
                    </div>              
                </div>
                <div class="box-body">
                        <table class="table table-bordered">
                        <tr>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Email</th>
                            <th>Phone Number</th>
                            <th>Actions</th>
                        </tr>
                        {% for employee in employees %}
                            <tr>
                                <td>{{employee.first_name}}</td>
                                <td>{{employee.last_name}}</td>
                                <td>{{employee.email}}</td>
                                <td>{{employee.phone_number}}</td>
                                <td>
                                    <a href="" class='btn btn-info m-r-1em'>Read</a>
                                    <a href="" class='btn btn-primary m-r-1em'>Edit</a>
                                    <a href=""  class='btn btn-danger'>Delete</a>
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>

        <div class="modal fade" id="modalLoginForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <h4 class="modal-title w-100 font-weight-bold">Add</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body mx-3">
                    <form action="{{site.uri.public}}/companies/{{company.id}}/employees" method="post" >
                        {% include "forms/csrf.html.twig" %}
                        <div class="form-group has-feedback">
                            <label>First Name</label>
                            <input type="text" class="form-control" name="first_name">
                        </div>
                        <div class="form-group has-feedback">
                            <label>Last Name</label>
                            <input type="text" class="form-control" name="last_name">
                        </div>
                        <div class="form-group has-feedback">
                            <label>Email</label>
                            <input type="text" class="form-control" name="email">
                        </div>
                        <div class="form-group has-feedback">
                            <label>Phone number</label>
                            <input type="text" class="form-control" name="phone_number">
                        </div>
                        <div class="form-group has-feedback d-none">
                            <input type="hidden" class="form-control" name="company_id" value="{{company.id}}>
                        </div>
                        <div class="modal-footer">
                            <div class="row">
                                <div class="col-xs-8">
                                </div>
                                <div class="col-xs-4">
                                <button type="submit" class="btn btn-primary btn-block btn-flat">Create Employee</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>  
            </div>
        </div>
    </div>

{% endblock %}
{% block scripts_page %}
    <!-- Include form widgets JS -->
    {{ assets.js('js/form-widgets') | raw }}
{% endblock %}