{% extends "pages/abstract/dashboard.html.twig" %}


{% block page_title %}{{company.company_name}}{% endblock %}

{% block body_matter %}
<div class="container">
  <div class="row ">
    <div class="col"></div>
     <div class="jumbotron col-4 rounded bg-info">
        <h1 class="display-4 mx-3">{{company.company_name}} <img src="{{company.logo}}" class="pull-right rounded" width="170" height="170"/></h1>
        <p class="lead">Feel free to contact this company on their mail adress : <span class="text-primary">{{company.email}}</span></p>
        <p>You can also have more information about them on their website. </p>
        <p class="lead">
          <a class="btn btn-primary btn-lg" href="{{company.website}}" role="button">Visit website</a>
          <a href="{{site.uri.public}}/companies/{{company.id}}/edit" class='btn btn-warning btn-lg m-r-1em'>Edit</a>
          <a href="{{site.uri.public}}/companies/delete/{{company.id}}" onclick="return deleteFunction();" class='btn btn-danger btn-lg'>Delete</a>
        </p>
    </div>
    <div class="col-4"></div>
  </div>
</div>

<script>
  function deleteFunction() {
      if(!confirm("Are you sure to delete this ?"))
      event.preventDefault();
  }
 </script>
{% endblock %}