{% extends "pages/abstract/dashboard.html.twig" %}


{% block page_title %}Employee at {{company.company_name}}{% endblock %}

{% block body_matter %}


<div class="container">
  <div class="row ">
    <div class="col"></div>
     <div class="jumbotron col-4 rounded bg-info" style="background-image: url({{company.logo}}); background-repeat: no-repeat; background-size: auto; background-position: right center; margin-right: 50px;">
        <h1 class="display-4 mx-3">{{employee.first_name}} {{employee.last_name}}</h1>
        <p class="lead">Feel free to contact this employee by email : <span class="text-primary">{{employee.email}}</span></p>
        <p>Also reachable by phone on the following number : <span class="text-primary">{{employee.phone_number}}</span> </p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="{{site.uri.public}}/companies/{{company.id}}/employee/{{employee.id}}/edit" role="button">Edit profile</a>
        </p>
        </div>
    <div class="col-4"></div>
  </div>
</div>
{% endblock %}